<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootapplication.mapper.CategoryMapper">

    <!-- カテゴリを挿入 -->
    <insert id="insertCategory" parameterType="com.spring.springbootapplication.entity.Category">
        INSERT INTO Category(category_id, category_name) VALUES(#{category_id}, #{category_name})
    </insert>


    <select id="findAll" resultType="com.spring.springbootapplication.entity.Category">
        SELECT id, category_id, category_name FROM Category
    </select>

</mapper>
