* {
    font-family: "Roboto";
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ビューポートの高さを100%に設定 */
}

header {
    flex-shrink: 0; /* ヘッダーのサイズを固定 */
}

.signin-header, .top-header, .edit-header {
    height: 120px;
    padding: 0 40px;
    display: flex; /* 横並びにする */
    justify-content: space-between; /* 左右にスペースを均等に配置 */
    align-items: center; /* 垂直方向で中央揃えにする */
    background-color: #1B5678; /* 背景色を指定 */
}

.header-h1 {
    font-size: 36px;
    color: white;
    font-weight: 700;
    line-height: 42.19px;
}

.header-form {
    margin: 0;
}

.header-btn {
    padding: 10px 20px; /* ボタンのパディングを調整 */
    font-size: 16px; /* ボタンの文字サイズを指定 */
    background-color: white; /* 背景色を白に */
    border: none; /* 枠線を削除 */
    border-radius: 5px; /* ボタンを角丸にする */
    cursor: pointer; /* カーソルをポインターにする */
}

main {
    padding: 40px;
    /* この要素が空いたスペースを埋めるようにしてい */
    flex-grow: 1; 
    margin: 0 auto;
    width: 60%;
}

.main-p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
}

.user-form, .login-form {
    width: 480px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* 背景色を白に */
}

.input-name,
.input-address,
.input-password {
    margin-bottom: 60px;
}

.input-name p,
.input-address p,
.input-password p {
    font-size: 12px;
    font-weight: 400;
}

.input-form {
    width: 100%; 
    font-size: 16px;
    border: none; /* デフォルトの枠線を削除 */
    border-bottom: 1px solid #ccc; /* 下線を追加 */
    /* フォームにフォーカスした際のアウトライン表示をキャンセル */
    outline: none;
}

.validation-error {
    color: red; 
    font-size: 12px;
    margin-top: 5px; 
}

.submit-btn {
    text-align: center;
    margin-top: 60px;
}

.submit-btn button {
    width: 232px;
    padding: 16px 80px;
    font-size: 16px;
    background-color: #1B5678;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
}

footer {
    /* フッターのサイズを固定し、親のが縮小しても縮まらないようにする */
    flex-shrink: 0; 
    height: 40px;
    width: 100%;
    background-color: #1B5678;
    display: flex;
    justify-content: center; /* 子要素を横方向で中央寄せ */
    align-items: center;  /* 子要素を縦方向でも中央寄せ */
}

.footer-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: white;
    text-align: center;
}



/* 以下がlogin画面のcss */

.login-header {
    display: flex;            
    justify-content: center;  /* 横に中央寄せ */
    align-items: center;      
    height: 120px;          
    background-color: #1B5678; 
}

.login-h1 {
    font-size: 36px;
    color: white;
    font-weight: 700;
    text-align: center; 
}

.submit-login-btn, .submit-signin-btn {
    text-align: center;
    margin-top: 60px;
}

.submit-login-btn button, .submit-signin-btn button {
    width: 268px;
    padding: 16px 80px;
    font-size: 16px;
    background-color: #1B5678;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
}

.error-message {
    color: red;
    font-size: 12px;
}




/* 以下はTOPページのcss */



.profile {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;  /* 画像とテキストの間にスペースを設ける */
    margin-top: 50px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-img img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover; /* 画像が枠内にフィットするようにする */
}

.user-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}

.self-introduction {
    text-align: left;
    max-width: 500px;
}

.self-introduction h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px; /* 下線との間隔を調整 */
    border-bottom: 2px solid #ccc; /* 下線の太さと色 */
    display: inline-block; /* 幅を指定可能にする */
    width: 200px; /* 下線の長さを指定 */
}

.self-introduction p {
    font-size: 18px;
    line-height: 1.6;
}

.edit-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1B5678;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.skill-h2 {
    text-align: center;
    border-bottom: 2px solid #ccc;
    margin-top: 80px;
}



/* ここからeditページのcss  */




.main-edit-p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

/* 編集フォーム全体のスタイル */
.input-form {
    max-width: 480px; /* フォームの最大幅を設定 */
    margin: 0 auto; /* フォームを中央に配置 */
}

/* セクションのスタイル */
.self-introduction-section,
.img-section {
    margin-bottom: 30px; 
}

.edit-p {
    color: #999999; 
    font-size: 12px;
    font-weight: 400;
}

/* テキストエリアのスタイル */
.self-introduction {
    width: 80%; /* テキストエリアをフォームの幅いっぱいに */
    padding: 0 10px 10px 10px; /* 内側の余白を追加 */
    font-size: 16px; /* フォントサイズ */
    border: none; /* 枠線を削除 */
    resize: vertical; /* 縦方向のリサイズのみ許可 */
    outline: none;
    margin-bottom: 10px; /* テキストエリアの下に余白を追加 */
    text-align: left;
}

/* ファイル入力フィールドのスタイル */
input[type="file"] {
    margin-top: 5px; /* 上に少し余白を追加 */
    font-size: 14px; /* フォントサイズを調整 */
    padding: 5px; /* 内側の余白を追加 */
}

/* 送信ボタンのスタイル */
.submit-edit-btn {
    width: 100%; /* ボタンの幅を100%に設定 */
    max-width: 260px; /* ボタンの最大幅を設定 */
    padding: 10px; /* 内側の余白を追加 */
    font-size: 16px; /* フォントサイズを設定 */
    background-color: #1B5678; /* 背景色を設定 */
    color: white; /* テキストの色 */
    border: none; /* 枠線を削除 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターにする */
    margin: 55px auto 0; /* 上に余白を追加し、中央揃え */
    display: block; /* ブロック要素として表示 */
    text-align: center; /* テキストを中央揃え */
}

/* フォームのエラーメッセージのスタイル */
.error-message {
    color: red; 
    font-size: 12px;
    margin-top: 5px; 
    text-align: center; /* エラーメッセージを中央に配置 */
}

/* デフォルトのファイル入力ボタンを非表示にする */
input[type="file"] {
    display: none; 
}

.input-edit-form {
    width: 60%; 
    font-size: 16px;
    border: none; /* デフォルトの枠線を削除 */
    /* フォームにフォーカスした際のアウトライン表示をキャンセル */
    outline: none;
    margin: 0 auto;
}

.edit-self-introduction {
    width: 100%; /* テキストエリアをフォームの幅いっぱいに */
    height: 120px;
    padding: 0 10px 10px 10px; /* 内側の余白を追加 */
    font-size: 16px; /* フォントサイズ */
    border: none; /* 枠線を削除 */
    resize: vertical; /* 縦方向のリサイズのみ許可 */
    outline: none;
    margin-bottom: 10px; /* テキストエリアの下に余白を追加 */
    border-bottom: 1px solid #ccc; 
}

/* カスタムファイル入力ボタンのスタイル */
.custom-file-upload {
    display: inline-block;
    padding: 5px 20px; /* 内側の余白を設定 */
    font-size: 16px; /* フォントサイズを設定 */
    cursor: pointer; /* ポインターを表示 */
    background-color: #dcdcdc;
    /* border: 1px solid #ccc; ボーダーを追加 */
    border-radius: 5px;
    color: #333; 
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #e0e0e0; 
}

.edit-error-message {
    color: #999999;
    font-size: 12px;
}

