<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category New page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
    <header class="signin-header">
        <h1 class="header-h1">My Portfolio</h1>
        <!-- ログアウトボタン -->
        <form name="logout" class="header-form" th:action="@{/users/logout}" method="post">
            <button class="header-btn" type="submit">ログアウト</button>
        </form>
    </header>
    <main>
        <form class="add-category-form" th:action="@{/users/new/category/{id}(id=${user.userId})}" method="post">
            <p class="category-p" th:text="${categoryTypeName} + 'に項目を追加'"></p> 

            <input type="hidden" name="categoryType" th:value="${categoryType}" />
            <input type="hidden" name="learningYear" th:value="${learningYear}" />
            <input type="hidden" name="learningMonth" th:value="${selectedMonth}"/> 

            <div th:if="${errorMessage != null}">
                <p th:text="${errorMessage}" class="error-message"></p>
            </div>
            
            <div class="input-category">
                <p>項目名</p>
                <input type="text" class="input-form" name="categoryName" required>
            </div>
            
            <div class="input-learning-time">
                <p>学習時間</p>
                <input type="number" step="1" min="0" max="900" class="input-form" name="learningTime" required>
            </div>
            <button class="submit-category-btn" type="submit">追加する</button>
        </form>

        <!-- 登録モーダル表示用のフラグを追加 --> 
        <div th:if="${createModal}" id="createModalFlag" 
             data-create-modal="true"
             data-category-type-name="${categoryTypeName}"
             data-created-category-name="${createdCategoryName}"
             data-learning-time="${learningTime}"
             style="display:none;"></div>
    </main>
    <footer>
        <p class="footer-p" th:text="${user.userName}"></p>
    </footer>

    <!-- 登録用モーダル -->
    <div class="modal" id="createModalMsg" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- 登録したカテゴリ名を表示 -->
                    <p th:utext="${categoryTypeName} + 'に' + ${createdCategoryName} + 'を<br>' + ${learningTime} + '分で追加しました！'"></p>

                    <!-- カテゴリ一覧ボタン -->
                    <form th:action="@{/users/edit/category/redirect}" method="get"> 
                        <input type="hidden" name="userId" th:value="${user.userId}" /> 
                        <input type="hidden" name="selectedMonth" th:value="${selectedMonth}" />
                        <button type="submit" class="category-btn">カテゴリ一覧</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>
</body>
</html>
