<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category New page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/category.css">
</head>
<body>
    <header class="signin-header">
        <h1 class="header-h1">My Portfolio</h1>
        <!-- ログアウトボタン -->
        <form name="logout" class="header-form" th:action="@{/users/logout}" method="post">
            <button class="header-btn" type="submit">ログアウト</button>
        </form>
    </header>
    <main>
        <form class="add-category-form" th:action="@{/users/new/category/{id}(id=${user.userId})}" method="post">
            <p class="category-p" th:text="${categoryTypeName} + 'に項目を追加'"></p> 

            <!-- ユーザは入力しないためhiddenでセット -->
            <input type="hidden" name="categoryType" th:value="${categoryType}" />
            <input type="hidden" name="learningYear" th:value="${learningYear}" />
            <input type="hidden" name="learningMonth" th:value="${selectedMonth}"/> 
            
            <div class="input-category">
                <p>項目名</p>
                <input type="text" class="input-form" name="categoryName" required>
            </div>
            
            <div class="input-learning-time">
                <p>学習時間</p>
                <input type="number" step="1" min="0" max="900" class="input-form" name="learningTime" required>
            </div>
            <button class="submit-category-btn" type="submit">追加する</button>
        </form>
    </main>
        <footer>
            <p class="footer-p" th:text="${user.userName}"></p>
        </footer>
</body>
</html>