<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skill Edit page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skill.css">
</head>
<body>
    <header class="signin-header">
        <h1 class="header-h1">My Portfolio</h1>
        <!-- ログアウトボタン -->
        <form name="logout" class="header-form" th:action="@{/users/logout}" method="post">
            <button class="header-btn" type="submit">ログアウト</button>
        </form>
    </header>
    <main>
        <div class="wrapper">
            <!-- プルダウン作成 -->
            <select name="month">
                <option value="1">1月</option>
                <option value="2">2月</option>
                <option value="3">3月</option>
                <option value="4">4月</option>
                <option value="5">5月</option>
                <option value="6">6月</option>
                <option value="7">7月</option>
                <option value="8">8月</option>
                <option value="9">9月</option>
                <option value="10">10月</option>
                <option value="11">11月</option>
                <option value="12">12月</option>
            </select>
                
            <article>
                <div class="skill-title">
                    <p>バックエンド</p>
                </div>
                <form name="front" class="add-form" th:action="@{/users/skill/{id}(id=${user.userId})}" th:object="${user}" method="get">
                    <button class="add-btn" type="submit">項目を追加する</button>
                </form>

                <table class="skills">
                    <thead>
                        <tr>
                            <th>項目名</th>
                            <th>学習時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </article>
            
            <article>
                <div class="skill-title">
                    <p>フロントエンド</p>
                </div>
                <form name="front" class="add-form" th:action="@{/users/skill/{id}(id=${user.userId})}" th:object="${user}" method="get">
                    <button class="add-btn" type="submit">項目を追加する</button>
                </form>
            </article>

            <article>
                <div class="skill-title">
                    <p>インフラ</p>
                </div>
                <form name="front" class="add-form" th:action="@{/users/skill/{id}(id=${user.userId})}" th:object="${user}" method="get">
                    <button class="add-btn" type="submit">項目を追加する</button>
                </form>
            </article>
        </div>
    </main>
    <footer>
        <p class="footer-p" th:text="${user_name}"></p>
    </footer>
</body>
</html>