<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skill New page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skill.css">
</head>
<body>
    <header class="signin-header">
        <h1 class="header-h1">My Portfolio</h1>
        <!-- ログアウトボタン -->
        <form name="logout" class="header-form" th:action="@{/users/logout}" method="post">
            <button class="header-btn" type="submit">ログアウト</button>
        </form>
    </header>
    <main>

    </main>
    <footer>
        <p class="footer-p" th:text="${user_name}"></p>
    </footer>
</body>
</html>