<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー編集</title>
</head>
<body>
    <h1>ユーザー情報編集</h1>
    
    <!-- ユーザー情報の編集フォーム -->
    <!-- enctype="multipart/form-data"でフォームが画像データも送れるようにする -->
    <form class="input-form" th:action="@{/users/update/{id}(id=${user.userId})}" 
        th:object="${user}" method="post" enctype="multipart/form-data">

        <input type="hidden" th:field="*{userId}" />
        
        <div>
            <label for="self-introduction">自己紹介文</label>
            <textarea id="self-introduction" th:field="*{selfIntroduction}"></textarea>
            <!-- バリデーションメッセージ表示 -->
            <div th:if="${#fields.hasErrors('selfIntroduction')}" th:errors="*{selfIntroduction}" class="validation-error"></div>
        </div>

        <!-- プロフィール画像のアップロード -->
        <div>
            <label for="file">新しいプロフィール画像をアップロード</label>
            <input type="file" id="file" name="file" />
            <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="error-message"></div>
        </div>

        <div>
            <button type="submit">更新する</button>
        </div>
    </form>

    <div th:if="${errors != null}" th:text="${errors}" class="error-message"></div>

    <a href="/users/top">トップページに戻る</a>
</body>
</html>
