<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="top-header">
        <h1 class="header-h1">My Portfolio</h1>
        <!-- ログアウトボタン -->
        <form name="logout" class="header-form" th:action="@{/users/logout}" method="post">
            <button class="header-btn" type="submit">ログアウト</button>
        </form>
    </header>
    <main>
        <p class="main-p">自己紹介を編集する</p>
        <!-- ユーザー情報の編集フォーム -->
        <!-- enctype="multipart/form-data"でフォームが画像データも送れるようにする -->
        <form class="input-edit-form" th:action="@{/users/update/{id}(id=${user.userId})}" 
            th:object="${user}" method="post" enctype="multipart/form-data">

            <input type="hidden" th:field="*{userId}" />
            
            <div class="self-introduction-section">
                <p class="edit-p">自己紹介文</p>
                <textarea class="edit-self-introduction" th:field="*{selfIntroduction}"></textarea>
                <!-- バリデーションメッセージ表示 -->
                <p th:text="${errorMessage}" class="edit-error-message"></p>
            </div>

            <!-- プロフィール画像のアップロード -->
            <div class="img-section">
                <p class="edit-p">アバター画像</p>
                <label for="file" class="custom-file-upload">
                    画像ファイルを添付する
                </label>
                <input type="file" id="file" name="file" />
            </div>
            
            <button class="submit-edit-btn" type="submit">自己紹介を確定する</button>
        </form>
    </main>
    <footer>
        <p class="footer-p" th:text="${user_name}"></p>
    </footer>
</body>
</html>
